<section class="screen">
	<div class="center_block">
		<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1517514070/size=large/bgcol=333333/linkcol=e32c14/tracklist=false/transparent=true/" seamless><a href="https://deadmusicatx.bandcamp.com/album/dead-air">Dead Air by Dead Music Capital Band</a></iframe>
	</div>
</section>