<!DOCTYPE html>
<html>
	<head>
		<title>Dead Music Capital Band</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,200" rel="stylesheet">
		<style type="text/css"></style>
	</head>
	<body class="blackbg">
		
        {{>bandcamp}}
		
		{{>footer}}

	</body>

</html>
