<!DOCTYPE html>
<html>
	<head>
		<title>Dead Music Capital Band</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,200" rel="stylesheet">
		<style type="text/css"></style>
	</head>
	<body>
		{{!-- intro --}}
		{{#with first_slide}}
			<section class="screen">
				<div class="center_block">
					<img src="/assets/img/dmcb.png" class="max-full">
				</div>

				<div class="bottom_block vertical_pulsate">
					<p>{{call_to_action}}</p>
				</div>
			</section>
		{{/with}}
		
		{{#with main_content}}
			<section class="freeflow">
				<div class="main-video">
					<iframe width="560" height="315" src="{{video_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				{{#each about_us}}
					<p class="about-us">{{paragraph}}</p>
				{{/each}}
			</section>
		{{/with}}
		
		{{>footer}}

	</body>

</html>